section {
	&.side-menu {
		max-width: 250px;
		background-color: $side_menu_bg_color;
		nav {		
			a {
				display: block;
				margin: $gutter;
				font-size: $nav_link_font_size;
				color: $side_menu_font_color;
				padding: 0 10px;
				&:hover {
					color: $side_menu_font_color;
				}
			}
		}
	}
}