html, body {
	position: relative;
	height: 100%;
}
#app {
	height: 100%;
}
main {
	display: flex;
}
.hide {
	display: none !important;
}

.show {
	display: block !important;
}
.col-gutter {
	margin: $gutter 0 $gutter $gutter;
	&:last-of-type {
		margin-right: $gutter;
	}
}