html, body {
	position: relative;
	height: 100%;
}
#app {
	height: 100%;
}
main {
	display: flex;
}
.hide {
	display: none !important;
}

.show {
	display: block !important;
}
@media (max-width: 48em){
	.row {
		width: 100%;
	}
}
.col-gutter {
	padding: $gutter 0 $gutter $gutter;
	@media (max-width: 48em) {
		padding-right: $gutter;
	}
	&:last-of-type {
		padding-right: $gutter;
	}
}