// Branding
$brand_primary_font: Arial, Helvetica, sans-serif;
$brand_primary_color: rgb(0, 3, 155);

// Buttons
$button_primary_bg_color: $brand_primary_color;
$button_primary_color: #FFF;
$button_border_radius: 4px;
$button_padding: 10px 12px;
$button_font_size: 14px;

// Header
$header_bg_color: #EEE;
$header_font_color: #FFF;

// Side Menu
$side_menu_bg_color: #363636;
$side_menu_font_color: #2db66f;

// Nav
$nav_link_color: #AAA;
$nav_link_color_hover: #FFF;
$nav_link_font_size: 16px;

// Forms
$input_padding: 8px;
$input_border: 1px solid #CCC;
$input_border_radius: 0;
$input_bg_color: #FFF;